* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/static/Inter_18pt-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/static/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit/static/Outfit-Medium.ttf');
}

@font-face {
  font-family: 'Outfit Small';
  src: url('./fonts/Outfit/static/Outfit-Light.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
}

header {
  padding: 10px;
  background-color: pink;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-bottom:  1px solid rgb(245, 182, 193);
}

nav {
  display: flex;
  justify-content: start;
}

nav .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 5px;
}

nav img {
  height: 40px;
}

nav h2 {
  margin-left: 5px;
  font-family: 'Inter';
}

.hero {
  padding: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: pink;
  border-bottom:  1px solid rgb(245, 182, 193);
}

.hero-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  max-height: 100%;
  max-width: 100%;
}

.hero h1, .hero p {
  margin: 15px 0;
}

.hero button, .about-card button, form button, .quiz-box .footer button, .progress-box .info button, .all-answers-page button {
  background-color: tomato;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 130px;
  color: white;
  font-family: 'Inter';
  cursor: pointer;
}

.hero button:hover, .about-card button:hover, form button:hover, .quiz-box .footer button:hover, .progress-box .info button:hover, .all-answers-page button:hover {
  background-color: rgb(201, 59, 34);
}

.sponsor {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main.home-page h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.about {
  padding: 10px;
  margin-top: 20px;
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 60%;
  margin: 0 auto;
}

.about-card {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(233, 170, 181);
  font-family: 'Inter';
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-card p, .about-card h3 {
  text-align: center;
}

.image-holder {
  display: flex;
  justify-content: space-around;
}

.image-holder ol {
  padding: 0;
}

.image-holder .image, .about-card button, .quiz-page, .proceed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound {
  margin-top: 100px;
  text-align: center;
  font-family: 'Inter';
}

.notfound a {
  background-color: pink;
  text-decoration: none;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 140px;
  border-radius: 5px;
  border: 1px solid rgb(245, 182, 193);
  color: white;
}

.notfound a:hover {
  background-color: rgb(223, 148, 160);
}

form {
  width: 400px;
  margin: 0 auto;
  background-color: pink;
  border: 2px solid rgb(245, 182, 193);
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto 50px;
  font-family: 'Outfit Small', sans-serif;
}

form h2 {
  text-align: center;
}

form .label-container {
  margin-bottom: 15px;
}

form input, select, textarea {
  display: block;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

form button {
  width: 100%;
  margin-top: 10px;
}

.quiz-page {
  height: 100vh;
}

.quiz-container {
  background-color: pink;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(245, 182, 193);
}

.stopwatch {
  display: flex;
  justify-content: end;
  align-items: center;
}

.stopwatch h3 {
  margin-left: 5px;
  font-family: 'Outfit Small', sans-serif;
}

.quiz-box .question {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  max-width: 100%;
}

.quiz-box .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.quiz-box .options.answered {
  display: none;
}

.quiz-box .options button {
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  display: block;
  border-radius: 5px;
  width: 100%;
  background-color: tomato;
  color: white;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.quiz-box .options button:hover {
  background-color: rgb(196, 65, 41);
}

.quiz-box .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.quiz-box .footer button {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: pink;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  border-top: 1px solid rgb(233, 170, 181);
}

footer .img-box {
  height: 100px;
  width: 100px;
  margin: 15px;
}

footer .img-box img {
  max-height: 100%;
}

footer h3 {
  font-family: 'Inter', sans-serif;
} 

footer .info small {
  display: block;
  margin: 5px 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(51, 48, 48);
}

footer .footer-form {
  background-color: transparent;
  padding: 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer .footer-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

footer .footer-form button {
  padding: 10px;
  background-color: tomato;
  border: none;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  width: 100px;
}

footer .footer-form button:hover {
  background-color: rgb(218, 73, 47);
}

.end-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.end-page form {
  margin: auto auto;
  width: auto;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-container h3 {
  margin: 5px 0;
}

.progress-container button {
  margin-top: 10px;
}

.progress-box {
  background-color: pink;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(233, 170, 181);
  text-align: center;
}

.category-img {
  background-color: pink;
  width: 80%;
  margin: 20px auto 0;
  padding: 20px 20px 30px;
  border-radius: 10px;
  border: 1px solid rgb(233, 170, 181);
  text-align: center;
  font-family: 'Outfit Small', sans-serif;
  height: 200px;
}

.category-img img {
  max-height: 100%;
  max-width: 100%;
}

.progress-box .info {
  margin-top: 20px;
  font-family: "Outfit Small", sans-serif;
}

.progress-box .info .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.progress-box .info button {
  width: 90%;
  margin: 5px auto;
}

.progress-bar {
  max-width: 150px;
  padding: 5px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.all-answers-page h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.all-answers-page button {
  margin: 20px auto;
  display: block;
}

.answers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

.answer {
  background-color: pink;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
}

.answer span.block {
  display: block;
  margin-top: 5px;
  color: rgb(68, 64, 64);
}

.answer span {
  color: green;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .answers {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-cards {
    width: 80%;
  }
}

@media (max-width: 768px) {
  footer, .about-cards {
    grid-template-columns: 1fr 1fr;
  }

  .about-cards {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .answers {
    grid-template-columns: repeat(3, 1fr);
  }

  .end-page {
    width: 100%;
  }

  .progress-box .info .buttons {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .hero {
    margin-top: 0px;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text button {
    margin: 0 auto;
  }

  .hero-img {
    grid-row: 1;
  }

  .hero p {
    width: 80%;
    margin: 0 auto 15px;
  }

  .about-cards {
    width: 90%;
  }

  .about-cards, footer, .quiz-box .options, .answers {
    grid-template-columns: 1fr;
  }

  .answer {
    margin-bottom: 5px;
  }

  .quiz-box .options button {
    padding: 20px;
  }

  form {
    margin-top: 50px;
    width: 95%;
  }

  footer .img-box {
    margin: 20px auto 0;
  }

  footer div {
    text-align: center;
  }

  footer .form {
    width: 80%;
    margin: 0 auto;
  }

  footer button, footer .footer-form button {
    width: 100%;
  }

  .end-page {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .end-page .progress-box, .end-page .category-img {
    width: 95%;
  }

  .end-page form {
    margin: 10px auto 20px;
    width: 95%;
  }

  .quiz-container {
    width: 90%;
  }
}
