@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "inter";
  src: url("./fonts/Inter/static/Inter_18pt-Medium.ttf");
}

@font-face {
  font-family: "open";
  src: url("./fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

@layer base {
  small {
    @apply block text-secondary mb-1
  }
}

@layer components {
  .success {
    @apply bg-green-200 border-1 border-green-400 p-3 text-center rounded-md my-1;
  }

  .error {
    @apply bg-red-200 border-1 border-red-300 p-3 text-center rounded-md my-1;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility btn-white {
  @apply py-2 px-5 text-black rounded-md cursor-pointer hover:text-white hover:bg-black dark:bg-white dark:hover:bg-transparent dark:hover:border-white border-1 border-black inline-block;
}

@utility btn-white-full {
  @apply p-2 text-black rounded-md cursor-pointer hover:text-white hover:bg-black dark:bg-white dark:hover:bg-transparent dark:hover:border-white border-1 border-black block text-center w-full;
}

@utility btn-black {
  @apply py-2 px-5 bg-black text-white rounded-md cursor-pointer hover:text-black dark:hover:text-accentLight dark:hover:border-[#444] hover:bg-transparent border-1 border-black;
}

@utility btn-black-full {
  @apply py-2 px-5 bg-black text-white rounded-md cursor-pointer hover:text-black dark:hover:text-accentLight dark:hover:border-[#444] hover:bg-transparent border-1 border-black block w-full text-center;
}

@utility input {
  @apply w-full border-1 border-accentCold p-2 rounded-md focus:border-accentCold cursor-pointer mt-2;
}

.test {
  color: rgb(29, 30, 31)
}

@theme {
  --font-inter: "inter";
  --font-open: "open";
  --color-secondary: rgb(76, 77, 78);
  --color-thinBlack: rgb(22, 22, 22);
  --color-modal: rgba(0,0,0,0.7);
  --color-tetiary: rgb(243, 243, 243);
  --color-accent: rgb(233, 231, 231);
  --color-accentLight: rgb(136, 136, 136);
  --color-accentXlight: rgb(247, 247, 247);
  --color-accentCold: rgb(240, 240, 240);
}
